@import "/node_modules/identity-style-guide/dist/assets/scss/packages/required";

@include usa-link-style;

.plot text {
  font-size: 10px;
}

.table-number {
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.x-axis.rotate-labels {
  text {
    transform: rotate(90deg) translate(1em, -1.2em);
    text-anchor: start;
  }
}

/**
 * Default usa-form is limited to 20rem aka one column
 */
.usa-form--full-width {
  @include u-width(full);
}

.max-width-300 {
  max-width: 300px;
}

.truncate-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
