@import "/node_modules/identity-style-guide/dist/assets/scss/packages/required";

@include usa-link-style;

.plot text {
  font-size: 10px;
}

.table-number {
  font-variant-numeric: tabular-nums;
  text-align: right;
}
